/* Important source */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/poppins-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* Declaring global variables */
:root{
    --background-color:#1F242D;
    --background-secundary:#323946;
    --color-titles:#1ab823;
    --color-text:#F9F4F5;
    --font-family:'Poppins', sans-serif;
    --title-size: 4.6rem;
    --subtitles-size: 3rem;
    --font-size: 2rem; 
    --standard-padding:2rem 9%;
}
h2{ 
    color: var(--color-titles);
    font-size: var(--subtitles-size);
    text-align: center;
    margin-bottom: 2rem;
}
/* Header */
.header { 
    position: fixed; 
    top:0; 
    left: 0;
    width: 100%;
    padding: var(--standard-padding);
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 999;
}
.logo img {
    width: 120px;
}
.header .sticky { 
    border-bottom:.1rem solid rgba(0, 0 ,0 .2 );
}
/* Navbar menu */
.navbar a { 
    font-size: var(--font-size);
    color: var(--color-text);
    margin-left: 4rem; 
}
.navbar a:hover, 
.navbar a.active{ 
    color: var(--color-titles);
}
#menu-icon { 
    font-size: 3.6rem;
    color: var(--color-text);
    display: none;
}

