/* Desing responsive */
@media (max-width: 1200px){
    html{ 
        font-size: 55%;
    }
 }
 @media (max-width: 991px){
    .header { 
        padding: 2rem 3%; 
    }
 }

 @media (max-width: 768px){
    .header { 
        text-align: start;
    }
    #menu-icon { 
        display: block;
    }
    .navbar { 
        position:absolute; 
        top: 100%;
        left:0;
        width:100%;
        padding: 1rem 3%;
        background: var(--background-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow:0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar.active { 
        display:block;
    }
    .navbar a { 
        display: block;
        font-size:2rem; 
        margin:3rem 0;
    }
}
@media (max-width: 450px){
    html { 
        font-size:50%;
    }
}