#events { 
    margin-top:5rem;
}
#events h1 { 
    color:var(--color-titles);
    font-size: 3rem;
    font-family:var(--font-primary);
    text-align: center;
}
.container-events {
    width: 100%;
    padding: var(--standard-padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-event{
    max-width: 350px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 2rem;

}
.card-event img {
    max-width: 330px;
    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;
    border-radius: 5% 5% 0 0;
    box-shadow: 0 5px 10px #000;
}
.description-event {
    color:var(--color-text);
    padding: var(--standard-padding);
    border-radius:0 0 2rem 2rem;
    background-color:#fff;
    font-family: var(--font-family);
    box-shadow: 0 5px 10px #000;
    text-align: justify;
    height: 350px;
    font-size: 1.2rem;
}
.description-event h3{
    font-size: var(--font-size);
    margin: 0 0 10px 0;
    color: var(--color-titles);
    text-align: center;
}
