/* Estilo para el contenedor principal */
.container-events {
    width: 100%;
    padding: var(--standard-padding);
    display: flex;
    justify-content: space-between;
}
/* Estilo para cada elemento (imagen + información) */
.card-event{
    padding: 0 10px; /* Agrega espacio entre elementos */
    margin-bottom: 2rem;
}
/* Estilo para las imágenes */
.card-event img {
    max-width: 100%; /* Ajusta el tamaño de la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block; /* Evita espacios vacíos debajo de las imágenes */
    border-radius: 5% 5% 0 0
}
/* Estilo para la información */
.description-event {
    padding: var(--standard-padding);
    text-align: center;
    border-radius:0 0 2rem 2rem;
    background-color: var(--background-secundary);
    font-family: var(--font-family);
}
.description-event h3{
    font-size: var(--font-size);
    margin: 0 0 10px 0;
    color: var(--color-titles);
}
.description-event{
color:var(--color-text);
}
