.footer { 
    z-index: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--standard-padding);
    background: var(--background-footer);
}
.footer-text p { 
    font-size: var(--font-size);
    color: var(--title-navbar);
    padding: 1rem;
}
.logo-footer img{
    width: 100px;
}
.footer-icon{ 
    color: var(--title-navbar);
    font-size:3rem;
}
.footer-iconTop { 
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding:.8rem;
    background-color: var(--color-secundary);
    border-radius: .8rem ;
    cursor: pointer;
}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--color-titles);
}
 .footer-iconTop a i { 
    font-size:  2.4rem; 
    color:rgb(19, 142, 70)
 }
 .icon-footer-svg{
    width: 1rem;
 }
 .icon-footer-facebook{ 
    width: 3rem;
 }
