#gastronomy {
    padding: var(--standard-padding);
}

/*Botones de cambio de opciones-galeria*/
.options{ 
    position: relative; 
    width: 100%; 
    margin: 60px 0;  
    text-align: center; 
  } 
  
  .options li{ 
    list-style: none; 
    display: inline-block; 
    padding: 15px 35px; 
    color: var(--color-text);  
    font-size: var(--font-size);
    margin-right: 15px; 
    text-transform: capitalize; 
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    margin-top: 15px;
  }  
  .options li:hover , .active{ 
    background: var(--color-titles ); 
    color: #fff; 
    cursor: pointer;
  }    
  .options li.active {
    background: var(--color-titles);
    color: #fff; 
  }
   
  /* Responsive de los botton-links*/ 
  @media (max-width: 768px) { 
    .options {
      margin: 30px 0; 
    }
    .options li {
      margin-bottom: 10px;  
      padding: 15px 30px; 
      font-size: 10px; 
      margin: 10px 0;
    }
    .options li:last-child {
      margin-bottom: 20px; 
    }
  }  

.container-card-gastronomy{ 
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    justify-content:center;
    position: relative;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    cursor: pointer;

}

.card .card_landing {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #000;
    background: linear-gradient(#0000006e 80%, #000), var(--i);
    background-position: center;
    background-size: cover;
    z-index: 3;
    border-radius: 10%;
}

.card .card_landing h6 {
    position: absolute;
    bottom: 10px;
    left: 3rem;
    font-size: 25px;
    color: #fff;
}

.card .card_info {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: var(--standard-padding);
    background: #fff;
    z-index: 2;
    box-shadow: 0 5px 10px #000;
    transition: .5s;
    border-radius: 5%;
    font-weight: 700;
}

.card:hover .card_info {
    z-index: 5;
    transform: scale(1.2);
}

.card_info .head {
    padding: 5px 0;
    border-bottom: solid 1px var(--color-titles);
}

.card_info .head .title {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-titles);
}

.card_info .head .description {
    display: flex;
    gap: 10px;
}

.card_info .head .description  {
    display: flex;
    gap: 5px;
    align-items: center;
}

.card_info .content {
    margin-top: 15px;
}

.card_info .content .list {
    padding: 10px 15px;
}

.card_info .content .list li {
    font-size: 14px;
    margin-bottom: 5px;
}

.card_info .action .btn {
    padding: 10px;
    color: #fff;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: var(--color-titles);
    display: block;
    margin-top: 10px;
}
.lodging {
    padding: var(--standard-padding);
}

.container-lodging {
    background-color: #fff;
    padding: var(--standard-padding);
    border-radius: 2rem;
    box-shadow: 0 5px 10px #000;
    margin-bottom: 3rem;
    margin-top: 50px;
}
.lodging-box {
    display: flex;
    margin-bottom: 1rem;
}

.lodging-box-left {
    display: flex;
    flex-direction: row-reverse;
    padding: var(--standard-padding);
}

.lodging-image {
    position: relative;
    overflow: hidden;
    margin: 1em;
    overflow: hidden;
}

.lodging-image img {
    width: 350px;
    height: auto;
    border-radius: 8px;
}


.description-lodging {
    padding: 2rem;
    flex: 1;
}

.description-lodging h3 {
    font-size: var(--font-size);
    margin: 0 0 10px 0;
    color: var(--color-titles);
    text-align: center;
}

.description-lodging p {
    margin: 0;
    font-size: var(--font-size);
    text-align: justify;
}

.link-lodging{ 
    text-align: end;
    
}
.link-lodging a{ 
    color: var(--color-titles); 
    font-size: var(--font-size);
}

.calf-star{ 
    text-align: start;
} 
 
/*Boton de registro*/ 
.register-business{  
    text-align: right;
} 

.btn2{ 
    padding: 15px 100px;
    margin:10px 4px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block; 
    font-size: var(--font-size);
} 
 
.btn2::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--color-text);
  -webkit-transform: scaleY(.3);
  transform: scaleY(.3);
  opacity: 0;
  transition: all .3s
  }
  
  .btn2:hover{
    color: var(--color-text-secundary);  
  }
  .btn2:hover::before{
    opacity: 1;
    background-color: var(--color-titles);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
  }

@media screen and (max-width: 768px) {
    .container-card-gastronomy{ 
        padding: var(--standard-padding);
    }
}
@media (max-width: 450px){
    html { 
        font-size:50%;
    }
    .title-front-page{ 
        margin-left:4rem;
    }
    .container-card-gastronomy{ 
        padding: var(--standard-padding);
    }
}
