/* Desing responsive */
@media (max-width: 1200px){
    html{ 
        font-size: 55%;
    }
    .container_sugetions{
        justify-content: space-around;
    }
    .lodging-box{ 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lodging-box-left{
        flex-direction: column;
        padding: var(--standard-padding);
        justify-content: center;
        align-items: center;
    }
    .description h3{
        text-align: center;
    }
 }
 @media (max-width: 991px){
    .header { 
        padding: 2rem 3%; 
    }
 }
 @media (max-width: 768px){
    .header { 
        text-align: start;
    }
    #menu-icon { 
        display: block;
    }
    .navbar { 
        position:absolute; 
        top: 100%;
        left:0;
        width:100%;
        padding: 1rem 3%;
        background: var(--background-navbar);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow:0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar.active { 
        display:block;
    }
    .navbar a { 
        display: block;
        font-size:2rem; 
        margin:3rem 0;
    }
    .box-about{ 
        flex-direction: column;
}
    .about-box-left{ 
    flex-direction: column-reverse;
    width: 100%;
    }
    .gallery img {
        width: 100%;
    }
}
@media (max-width: 450px){
    html { 
        font-size:50%;
    }
    .lodging-image img { 
        width: 250px;
    }
    .container-events{
        flex-direction: column;
    }
    
}
