/* Desing responsive */
@media (max-width: 1200px){
    html{ 
        font-size: 55%;
    }
    .container_sugetions{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .lodging-box{ 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lodging-box-left{
        flex-direction: column;
        padding: var(--standard-padding);
        justify-content: center;
        align-items: center;
    }
    .description h3{
        text-align: center;
    }
 }
 @media (max-width: 768px){
    .header { 
        text-align: start;
    }
    .box-about{ 
        flex-direction: column;
}
    .about-box-left{ 
    flex-direction: column-reverse;
    width: 100%;
    }
    .gallery img {
        width: 100%;
    }
}
@media (max-width: 450px){
    html { 
        font-size:50%;
    }
    .lodging-image img { 
        width: 250px;
    }
    .container-events{
        flex-direction: column;
    }
}
