/* Important source */
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Montserrat-Light.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* Declaring global variables */
:root{
    --background-color:#eeeeee;
    --background-secundary:#e7e8eb;
    --title-navbar:#fff;
    --background-navbar:#1b1c1c;
    --color-titles:#3bad4c;
    --color-text:#030303;
    --font-family:'Gotham', sans-serif;
    --title-size: 4.6rem;
    --subtitles-size: 3rem;
    --font-size: 2rem; 
    --standard-padding:2rem 9%;
  }
  h2{ 
    color: var(--color-titles);
    font-size: var(--subtitles-size);
    text-align: center;
    margin-bottom: 2rem;
  }
